.container {
  padding-top: 30px;
  text-align: center;
  max-width: 700px;
  margin: auto;
  font-family: 'Josefin Sans', sans-serif;
  padding-bottom: 800px;
}

h1 {
  border-bottom: 1px solid #666;
}

h3 {
  margin-bottom: 0px
}

.header {
  margin-bottom: 50px;
}

.title {
  margin-bottom: 20px;
}

.view_code {
  color: #E62D73;
  cursor: pointer;
}

.prettyprint {
  text-align: left;
}

.hidden {
  display: none;
}

#hover_buttons, #click_buttons {
  height: 100px;
  margin-bottom: 10px;
}

.button {
  border: 1px solid #666;
  margin-right: 15px;
  padding: 10px;
  display: inline-block;
}


form {
  margin-top: 10px;
  margin-bottom: 50px;
}

.animation_info {
  margin-left: 20px;
  float: left;
}

input {
  width: 200px;
  padding: 10px;
  border: 1px solid #999;
  margin-left: 5px;
}

input:focus {
  background-color: white;
  outline: 0;
}

input.error {
  border: 1px solid red;
  box-shadow: 0px 0px 5px red, inset 0px 0px 2px red;
}

input.warning {
  border: 1px solid orange;
  box-shadow: 0px 0px 5px orange, inset 0px 0px 2px orange;
}

input:hover {
  border: 1px solid rgba(95, 122, 158, 0.5);
  box-shadow: 0px 0px 5px rgba(95, 122, 158, 0.5), inset 0px 0px 2px rgba(95, 122, 158, 0.5);
}

input:focus {
  border: 1px solid rgba(95, 122, 158, 1);
  box-shadow: 0px 0px 5px rgba(95, 122, 158, 1), inset 0px 0px 2px rgba(95, 122, 158, 1);
}

.submit_button {
  background-color: #E0E9F5;
  padding: 10px;
  display: inline-block;
  width: 60px;
}

.submit_button:hover {
  background-color: #5F7A9E;
}

.submit_button.success {
  color: white;
  background-color: green;
}

.scrolling > div {
  padding: 50px;
  margin: 50px;
  background-color: lightgreen;
}

.hideme {
  opacity: 0;
}

.timing > div {
  padding: 20px;
  margin: 50px;
  background-color: lightblue;
}

.Default {
  -webkit-animation-duration: 1s;
}

.Fast {
  -webkit-animation-duration: .7s;
}

.SupaFast {
  -webkit-animation-duration: .5s;
}

.Slow {
  -webkit-animation-duration: 2s;
}

.SupaSlow {
  -webkit-animation-duration: 3s;
}
